@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url('https://wallpapercave.com/wp/B5nkguW.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}